<h1> Add a student </h1>
<div class="container">
  <form id="new-student-form" action='/students' method="post">
    <label for "first_name"> First Name </label>
    <input type = "text" name=student[first_name]>
    <label for "last_name"> Last Name </label>
    <input type="text" name="student[last_name">
    <label for "email">Email </label>
    <input type="text" name="student[email]">
    <input type="submit" value="Submit">
  </form>
</div>
